<nav id="emoticon-list-navigation">
  <%= image_tag "ajax-loading.gif", :id => "loading" %>
  
  <div class="results-info">
    <span id="results-counter"><!-- &#8734; --><%= @emotes.count %></span>
    <span id="current-display"><%= @display_type %></span>
  </div>
  
  <ul id="sort-list">
    <% unless @sort == 'disable' %>
      <li id="sort-newest" class="<%= @sort == 'newest' ? 'active' : 'inactive' %>">newest</li>
      <li id="sort-random" class="<%= @sort == 'random' ? 'active' : 'inactive' %>">random</li>
      <li id="sort-popular" class="<%= @sort == 'popular' ? 'active' : 'inactive' %>">popular</li>
    <% else %>
      <li><a class="inactive">newest</a></li>
    <% end %>
  </ul>
</nav>

<section id="emoticon-list" class="clearfix">
  <ul>
    <% @emotes.each do |emote| %>
      <li id="emote-<%= emote.id %>">
        <article class="width-<%= emote.width %>"><%= emote.text %></article>
        <aside><%= emote.note %></aside>
        <input type="hidden" value="<%= emote.tag_list_js %>" />
      </li>
    <% end %>
  </ul>
</section>