<li id="emote-<%= emote.id %>">
  <article class="width-<%= emote.width %>" <%== custom_styles emote %>><%= emote.text %></article>
  <aside><%= emote.note %></aside>
  <input type="hidden" value="<%= emote.tag_list_js %>" />
</li>