<section id="emoticon-list-navigation">
  <%= image_tag "ajax-loading.gif", :style => "display: none;", :id => "loading" %>
  <span id="results-counter"><!-- &#8734; --><%= @emotes.count %></span>
  <span id="currently-displaying"><%= @display_type %></span>
</section>


<ul>
  <% @emotes.each do |emote| %>
    <li id="emote-<%= emote.id %>">
      <article class="width-<%= emote.width %>"><%= emote.text %></article>
      <aside><%= emote.note %></aside>
      <input type="hidden" value="<%= emote.tag_list_js %>" />
    </li>
  <% end %>
</ul>