<nav id="emoticon-list-navigation">
  <%= image_tag "ajax-loading.gif", :style => "display: none;", :id => "loading" %>
  
  <div class="results-info">
    <span id="results-counter"><!-- &#8734; --><%= @emotes.count %></span>
    <span id="currently-displaying"><%= @display_type %></span>
  </div>
  
  <ul id="sort-list-active" style="position: absolute; top: 0px; right: 0px;">
    <li id="sort-newest" class="active">newest</li>
    <li id="sort-ranedom" class="inactive">random</li>
    <li id="sort-popular" class="inactive">popular</li>
  </ul>
</nav>

<section id="emoticon-list" class="clearfix">
  <ul>
    <% @emotes.each do |emote| %>
      <li id="emote-<%= emote.id %>">
        <article class="width-<%= emote.width %>"><%= emote.text %></article>
        <aside><%= emote.note %></aside>
        <input type="hidden" value="<%= emote.tag_list_js %>" />
      </li>
    <% end %>
  </ul>
</section>