<nav id="emoticon-list-navigation" class="container relative">
  <div class="results-info">
    showing
    <span id="current-display"><%= @display_type %></span>
    &nbsp;::&nbsp;
    <span id="results-counter"><!-- &#8734; --><%= @emotes.count %></span>
  </div>
  
  <ul id="sort-list">
    <% unless @sort == :disable ||  @emotes.count == 0 %>
      <li id="sort-newest" class="<%= sort_status :newest %>">newest</li>
      <li id="sort-random" class="<%= sort_status :random %>">random</li>
      <li id="sort-popular" class="<%= sort_status :popular %>">popular</li>
    <% else %>
      <li><a class="inactive no-link">no sorting</a></li>
    <% end %>
  </ul>
  <div class="cover"></div>
</nav>

<section id="emoticon-list" class="clearfix">
  <% unless @emotes.count == 0 %>
    <ul>
      <%
        benchmark = Benchmark.realtime { 
          @emotes.each do |emote| %>
            <%= render :partial => "emote_grid", :locals => { :emote => emote } %>
          <% end
        }
        Rails.logger.info "[BENCHMARK]: Emote list render [#{@emotes.count}]: #{benchmark}"
      %>
    </ul>
  <% else %>
    <div class="no-emotes" style="text-align: center; margin-top: 40px; font-size: 16px; ">
      Σ(゜д゜;)<br />
      We couldn't find any emotes!<br />
      <% if @display_type == 'search' %>
        Maybe try searching some different combination of tags?
      <% elsif @display_type == 'favorites' %>
        Maybe try adding some favorite emoticons?
      <% elsif @display_type == 'recent' %>
        Looks like you haven't clicked any emoticons yet!
      <% end %>
    </div>
  <% end %>
</section>

<% if is_logged_in? %>
  <script type="text/javascript">
    var initial_favorites_list = <%= favorites_js_array(current_user.favorites) %>;
  </script>
<% end %>

