<% cache [ 'emote-list-v1', emote ] do %>
  <li id="emote-<%= emote.id %>">
    <article data-favorite="false" class="width-<%= emote.width %>" <%== custom_styles emote %>>
      <a><%= emote.text %></a>
    </article>
    <aside><%= emote.note %></aside>

    <input type="hidden" value="<%= to_js_array emote.tags.uniq %>" />
  </li>
<% end %>