<section id="search-tag" class="clearfix">
  <!-- <input type="text" value="Search Emoticons With Tags Here" /> -->
  
  <%= autocomplete_field_tag 'tag', '', autocomplete_tag_name_emotes_path, :size => 75, :id => 'search' %>
  <input type="button" value=""/>
  
  <ul id="search-tags">
    <!--
    <li><a href="#">happy</a></li>
    <li><a href="#">cat</a></li>
    <li><a href="#">dog</a></li>
    -->
  </ul>
</section>

<section id="emoticon-display">
  <p id="selected-note">a very angry face</p>
  <h1 id="selected-emoticon">(╬ ಠ益ಠ)</h1>
  <input type="button" value="Copy to Clipboard" />
  <!-- <input type="button" value="Tweet" /> -->
  <input id="btn-add-to-favorites" type="button" value="Add to Favorites" />
  
  <br />
  
  <%= form_for(@emote, :remote => false) do |f| %>
    <%= f.hidden_field :id, :value => "0", :id => "selected-id" %>
    <%= f.text_field :tag_list, :value => "Add a New Tag to this Emoticon" %>
    <%= f.submit :value => "", :class => 'add' %>
  <% end %>
  
  <ul id="tag-list">
    <li><a href="#">happy</a></li>
    <li><a href="#">cat</a></li>
    <li><a href="#">dog</a></li>
  </ul>
</section>

<section id="emoticon-list">
  <%= render 'emote_list' %>
</section>