<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Emotejiji</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <%= stylesheet_link_tag "application" %>

  <%= csrf_meta_tags %>

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
       Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
       for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
  <% #javascript_include_tag "modernizr" %>
</head>

<body>
  <div id="header-hud" class="hud">
    <header class="container relative">
      <a id="logo">
        <h2>emotejiji</h2>
        <h3>Σ(゜д゜;)</h3>
        <h4>beta</h4>
      </a>
      
      <nav class="global">
        <ul>
          <li><%= link_to "about", about_path %></li>
          <% if is_logged_in? %>
            <li><%= link_to "sign out", signout_path %></li>
            <li><%= link_to "profile", profile_path, :remote => determine_remote_status, :id => 'link-profile' %></li>
          <% else %>
            <li><%= link_to "login", "/auth/twitter" %></li>
            <li><a class="inactive" href="#">profile</a></li>
          <% end %>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li><%= link_to "all", root_path, :remote => determine_remote_status, :id => 'link-home' %></li>
          <li><%= link_to "tag list", tag_list_path, :remote => determine_remote_status, :id => 'link-tag-list' %></li>
          <% if is_logged_in? %>
            <li><%= link_to "favorites", favorites_path, :remote => determine_remote_status, :id => 'link-favorites' %></li>
            <li><%= link_to "recent", recent_path, :remote => determine_remote_status, :id => 'link-recent' %></li>
            <li><%= link_to "add", new_emote_path %></li>
          <% else %>
            <li><a class="inactive" href="#">favorites</a></li>
            <li><a class="inactive" href="#">recent</a></li>
            <li><a class="inactive" href="#">add</a></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="header-bg"></div>
  </div>
  
  <%= yield %>
  
  <footer class="container">
    a project by <%= link_to 'robopengu.in', 'http://robopengu.in' %> | emotejiji 2010 - 2011
  </footer>
  
  <% flash.each do |key, value| %>
    <div id="notifications" class="flash <%= key %>"><%= value %></div>
  <% end %>
  
  <!-- JavaScript at the bottom for fast page loading -->
  <%= javascript_include_tag "application" %>
  <!-- end scripts -->

  <% if Rails.env.production? %>
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
      var _gaq=[['_setAccount','UA-22723319-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
     <!-- Quantcast Tag -->
    <script type="text/javascript">
      var _qevents = _qevents || [];
      
      (function() {
      var elem = document.createElement('script');
      elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
      elem.async = true;
      elem.type = "text/javascript";
      var scpt = document.getElementsByTagName('script')[0];
      scpt.parentNode.insertBefore(elem, scpt);
      })();
      
      _qevents.push({
      qacct:"p-b1FDXZbE_2BNg"
      });
    </script>
  <% end %>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
