<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Emotejiji</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <%= stylesheet_link_tag "application" %>

  <%= csrf_meta_tags %>

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
       Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
       for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
  <%= javascript_include_tag "modernizr" %>
</head>

<body>
  <header>
    <h2>emotejiji</h2>
    <h3>Σ(゜д゜;)</h3>
    <h4>beta</h4>
  </header>
  
  <nav>
    <ul>
      <li><a href="#">about</a></li>
      <li><a href="#">login</a></li>
      <li><a class="inactive" href="#">profile</a></li>
      <li><a class="inactive" href="#">add emote</a></li>
      <li><a class="inactive" href="#">favorites</a></li>
      <li><a class="inactive" href="#">recent</a></li>
    </ul>
  </nav>
  
  <section id="search-tag" class="clearfix">
    <input type="text" value="Search Emoticons With Tags Here" />
    <input type="button" value=""/>
    <ul>
      <li><a href="#">happy</a></li>
      <li><a href="#">cat</a></li>
      <li><a href="#">dog</a></li>
    </ul>
  </section>
  
  <section id="emoticon-display">
    <p>a very angry face</p>
    <h1>(╬ ಠ益ಠ)</h1>
    <input type="button" value="Copy to Clipboard" />
    <input type="button" value="Tweet" />
    <input type="button" value="Add to Favorites" />
    
    <br />
    
    <input type="text" value="Add a New Tag to this Emoticon" />
    <input type="button" value="" class="add"/>
    <ul>
      <li><a href="#">happy</a></li>
      <li><a href="#">cat</a></li>
      <li><a href="#">dog</a></li>
    </ul>
  </section>
  
  <!--
  <section id="emoticon-list-navigation">
    <p>800</p>
    <p>recent</p>
  </section>
  -->
  
  <section id="emoticon-list">
    <ul>
      <li>
        <a href="/emotes/198" class="width-1">=P</a>
      </li>
      <li>
        <a href="/emotes/198" class="width-1">=P</a>
      </li>
      <li>
        <a href="/emotes/198" class="width-1">=P</a>
      </li>
      <li>
        <a href="/emotes/198" class="width-1">=P</a>
      </li>
      <li>
        <a href="/emotes/198" class="width-1">=P</a>
      </li>
      <li>
        <a href="/emotes/198" class="width-1">=P</a>
      </li>
    </ul>
      <!--
      <div class="emote grid_8">
        <p id="emote-192" class="emoticon">お(^o^)や(^O^)す(^｡^)みぃ(^-^)ﾉﾞ</p>
        <a href="/emotes/192" class="width-1">お(^o^)や(^O^)す(^｡^)みぃ(^-^)ﾉﾞ</a>
        <div class="copy-succesful" style="display: none;">Copied to Clipboard</div>
      </div>
      <div class="emote grid_12">
        <p id="emote-195" class="emoticon">( ﾟ∀ﾟ)ｱﾊﾊ八八ﾉヽﾉヽﾉヽﾉ ＼ / ＼/ ＼</p>
        <a href="/emotes/195" class="width-1">( ﾟ∀ﾟ)ｱﾊﾊ八八ﾉヽﾉヽﾉヽﾉ ＼ / ＼/ ＼</a>
        <div class="copy-succesful" style="display: none;">Copied to Clipboard</div>
      </div>
      -->
  </section>
  
  <div style="clear: both;"></div>
  <%= yield %>

  <!-- JavaScript at the bottom for fast page loading -->
  <%= javascript_include_tag "application" %>
  <!-- end scripts -->


  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
